<%- include("./partials/header") -%>
<section>
  <main class="one">
    <p class="one-one">Our Editorial Mission</p>
    <p class="content">With the motto to aspire the world with marvellous tech news ,from providing daily hunch to ebooks we have tried to keep up the curious programmer in you.Tech Mirror's editorial mission is to make the ever-changing world useful to you.If our reporting improves your day-to-day life, we've done our job well.We promise to tell you what's new in the parts of modern life that matter from tech till how coders celebrate festivals and how to get the most out of them.You can depend on our team of experts around the globe for news,audio,any sort of advice and video tutorials. We rely on our relationship with you to make sure our reporting is as useful as it can be. We encourage you to tell us the good and the bad. Knowing the coverage that helps you the most, as well as any mistakes we make or questions you want answered, is how we improve. We also provide the feature of chat system to discuss queries or any analogy with the profound tech panel. Keep up with Tech Mirror through our various social channels, mentioned in the contact section.</p>
  </main>
</section>
<%- include("./partials/footer") -%>