<%- include("./partials/header") -%>
   <section>
     <div class="three">
       <p class="three-three">Audios Available</h1>
      <ul class="audio1">
        <li class="audio"> How_to_stay_up_to_date_with_new_technologies_as_a_Software_Engineer</li><a href="#" class="btn btn-primary" id="audio2">Listen</a><a href="#" class="btn btn-primary" id="audio2p">Pause</a>
        <li class="audio">Immortality_technology_from_Jeff_Bezos___Technology_News</li><a href="#" class="btn btn-primary" id="audio3">Listen</a><a href="#" class="btn btn-primary" id="audio3p">Pause</a>
        <li class="audio">The_Floating_City_of_the_Future_in_Saudi_Arabia___Apple_Car_and_Robots_from_Alphabet___Tech_News</li><a href="#" class="btn btn-primary" id="audio4">Listen</a><a href="#" class="btn btn-primary" id="audio4p">Pause</a>
        <li class="audio">The_interesting_engineering_behind_the_SHAPE_of_Train_wheels!</li><a href="#" class="btn btn-primary" id="audio5">Listen</a><a href="#" class="btn btn-primary" id="audio5p">Pause</a>
         <li class="audio">The_latest_robots_and_future_technologies__all_the_technology_news_for_November_in_one_issue!</li><a href="#" class="btn btn-primary" id="audio6">Listen</a><a href="#" class="btn btn-primary" id="audio6p">Pause</a>
            <li class="audio">Why_is_Burnout_So_Common_in_Tech__Let's_talk_about_it </li><a href="#" class="btn btn-primary" id="audio7" >Listen</a><a href="#" class="btn btn-primary" id="audio7p">Pause</a>
           </ul>
        </div>
   </section>
<%- include("./partials/footer") -%>
