<%- include("./partials/header") -%>
   <section>
     <main class="two">
       <p class="two-two">Contact Us!</p>
       <div class="card" style="width: 9rem; ">
        <img src="./img_audio/insta.png" class="card-img-top" alt="Error">
        <div class="card-body">
          <h5 class="card-title">Instagram</h5>
           <a href="https://www.instagram.com/" class="btn btn-primary" target="_blank">Let's Go</a>
        </div>
    </div>
        <div class="card" style="width: 9rem; ">
            <img src="./img_audio//fb.png" class="card-img-top" alt="Error" style="padding: 15px;">
            <div class="card-body">
              <h5 class="card-title">Facebook</h5>
               <a href="https://www.facebook.com/" class="btn btn-primary" target="_blank">Let's Go</a>
            </div>
        </div>
            <div class="card" style="width: 8rem; ">
                <img src="./img_audio/twitter.png" class="card-img-top" alt="Error">
                <div class="card-body">
                  <h5 class="card-title">Twitter</h5>
                   <a href="https://twitter.com/home" class="btn btn-primary" target="_blank">Let's Go</a>
                </div>
            </div>
                <div class="card" style="width: 8rem; ">
                    <img src="./img_audio/gmail.png" class="card-img-top" alt="Error">
                    <div class="card-body">
                      <h5 class="card-title">Gmail</h5>
                       <a href="https://mail.google.com/mail/u/0/#inbox" class="btn btn-primary" target="_blank">Let's Go</a>
                    </div>
                </div>
                    <div class="card" style="width: 8rem;">
                        <img src="./img_audio/phone.png" class="card-img-top" alt="Error">
                        <div class="card-body">
                          <h5 class="card-title">Phone</h5>
                           <a href="https://www.truecaller.com/" class="btn btn-primary" target="_blank">Let's Go</a>
                        </div>
      </div>
     </main>
   </section>
<%- include("./partials/footer") -%>