<%- include("./partials/header") -%>
   <section>
     <div class="four">
       <p class="four-four">eBooks Available</p>
      <ul class="ebook1">
          <li class="ebook2"><a class="ebook3" href="https://www.poritz.net/jonathan/share/owoc.pdf" target="_blank">Open Workbook of Cryptology: A project-based introduction to crypto in Python</a></li>
        <li class="ebook2"><a class="ebook3" href="https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf" target="_blank">A Practical Introduction to Python Programming </a></li>
        <li class="ebook2"><a class="ebook3" href="https://www.cs.yale.edu/homes/aspnes/classes/223/notes.pdf" target="_blank">Notes on Data Structures and Programming Techniques </a></li>
        <li class="ebook2"><a class="ebook3" href="https://buildmedia.readthedocs.org/media/pdf/howtothink/latest/howtothink.pdf" target="_blank">Notes on Data Structures and Programming Techniques</a></li>
        <li class="ebook2"><a class="ebook3" href="https://assets.digitalocean.com/books/making-servers-work-a-practical-guide-to-system-administration.pdf" target="_blank">Making Servers Work </a></li>
         <li class="ebook2"><a class="ebook3" href="https://arxiv.org/pdf/1709.02840.pdf" target="_blank">A Brief Introduction to Machine Learning for Engineers </a></li>
            <li class="ebook2"><a class="ebook3" href="https://www.vpnmentor.com/journalist-privacy-guide.pdf" target="_blank">Online Privacy for Journalists</a></li>
             <li class="ebook2"><a class="ebook3" href="https://www.peoi.org/Courses/Coursesen/cprog/frame1.html" target="_blank">Programming in C</a></li>
           <li class="ebook2"><a  class="ebook3" href="https://www.epmbook.com/" target="_blank">The ePMbook - Project and Programme Management </a></li>
           </ul>
  </div>
   </section>
<%- include("./partials/footer") -%>