<%- include("partials/header") %>
 <div class="wrapper">
       <div class="news-single">
           <a href="/"><button class="back btn-primary" style="border-radius: 4px;margin-top: 10px;">Back</button></a>
        <h2><%- article.title.rendered %></h2>
<p><%- article.content.rendered %></p>
</div>
</div>
<%- include("partials/footer") %>