<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
 <link rel="stylesheet" href="./css/styles.css">
</head>
<body class="signup">
 <div class="signup-form">
   <h1 class="newsquora">SignUp to News Quora!</h1>
   <form action="/signup" method="POST">
     <input type="firstname" class="input-box" name="name" placeholder=" Name" required>
     <input type="email" class="input-box" name="email" placeholder="Email" required>
     <button type="submit" class="signup-btn">SignUp</button>
   </form>
 </div>
</body>
</html>